.git
.git/**
.local
.local/**
**/.env
**/.env.*
**/.envrc
**/*.pem
**/*token.json*
**/*credentials.json*
**/__pycache__
**/.pytest_cache
**/node_modules
**/*.archive.gz
**/*.bson
**/*.dump
**/*.tar
**/*.tar.gz
INFRA-R3A-Mongo-Export